
@{
    ViewBag.Title = "About";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
   </head>
<body>
    <center>
        <div class="container" style="margin-top:55px;">
            <section style="margin-top:25px;">
                <div style="width:90%;height:40%;align-content:center">
                    <img src="~/Content/Images/img2.jpg" width="1000" height="350" align="middle" />
                </div>
                <div class="About" style="width:60%;height:40%;text-align:center;">
                    <h1>About</h1>
                    <p id="p1">
                        Although various states of India individually represent the game of cricket, it has yet to reach untapped remote areas.
                        In India, there is no dearth of talent.
                        However, in most small towns and villages, there’s lack of accessibility to the game of cricket.
                        Children often find themselves living away from the world of cricket. They have what it takes to be a cricketer;
                        what they don’t have are the facilities and opportunities that will help them reach national or international level.
                        With that in mind, Cricket Performance Point has been formed. How different would be Cricket Performance Point from others?
                        At Cricket Performance Point, a player will earn points and those points will decide how well he achieves success. That way, his performance alone will be the criteria.
                        Cricket Performance Point will spot the talent of India’s next generation and give it a platform.
                    </p>
                </div>
                <br /><br />
                <div class="Vision" style="width:50%;height:40%;text-align:center;">
                    <h1>Mission</h1>
                    <p id="p1">
                        To provide an environment for participation, learning and success that is underpinned by the Salesian ethos, Cricket Best Club values and strong leadership.
                        To foster youth, sportsmanship, excellence and professionalism on the field and in the community.
                        Cricket best Club will lead through the example of our committee, coaches and captains to ensure that we live our values with loyalty, pride and fun.
                    </p>
                    <br /><br />
                    <h1>Vision</h1>
                    <p id="p1">
                        To be the most successful cricket club in the Gisborne District Cricket Association.
                    </p><br /><br />
                    <h1>Values</h1>
                    <p id="p1">
                        Integrity
                        Sportsmanship
                        Encouragement
                        Team Spirit
                        Enjoyment
                    </p>
                </div>
            </section>
        </div>
    </center>
</body>
</html>


