
@{
    ViewBag.Title = "AddPlayer";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body style="background-image:url(../../Content/Images/img1.jpg)">
    <div style="width: 100%;overflow:auto; margin-top:50px;" class="container" >
        <div style="float:left;width:100%;align-self:center">
            <h1>LOGO</h1>
            <img src="~/Content/Images/logo.jpg" />
            </div>
        </div>
</body>
</html>

