
@{
    ViewBag.Title = "Afghanistan";
}


<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body style="background-color:aqua;">
    <div class="container">
        <section class="team">
            <h2>Afghanistan</h2>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Rayn_Burl">
                    <img class="teamImg" src="~/Content/Images/aft1.jpg" />

                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Regis_Chakabva">
                    <img class="teamImg" src="~/Content/Images/aft2.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Brian_Chari">
                    <img class="teamImg" src="~/Content/Images/aft3.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Tendai_Chitara">
                    <img class="teamImg" src="~/Content/Images/aft4.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/aft5.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/aft6.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/aft7.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/aft8.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/aft9.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/aft10.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/aft11.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/aft12.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/aft13.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/aft14.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/aft15.jpg" />
                </a>
            </div>
        </section>
    </div>
</body>
</html>



