
@{
    ViewBag.Title = "Australia";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body style="background-color:aqua;">
    <section class="team">
        <h2>Australia</h2>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/aaron_finch">
                <img class="teamImg" src="~/Content/Images/at1.jpg" />

            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Glenn_Maxwell">
                <img class="teamImg" src="~/Content/Images/at2.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Steve_Smith_(cricketer,_born_1989)">
                <img class="teamImg" src="~/Content/Images/at3.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Shaun_Marsh">
                <img class="teamImg" src="~/Content/Images/at4.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/David_Warner_(cricketer)">
                <img class="teamImg" src="~/Content/Images/at5.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Matthew_Wade">
                <img class="teamImg" src="~/Content/Images/at6.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Mitchell_Starc">
                <img class="teamImg" src="~/Content/Images/at7.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Nathan_Lyon">
                <img class="teamImg" src="~/Content/Images/at8.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Josh_Hazelwood">
                <img class="teamImg" src="~/Content/Images/at9.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/James_Faulkner_(cricketer)">
                <img class="teamImg" src="~/Content/Images/at10.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Nathan_Coulter-Nile">
                <img class="teamImg" src="~/Content/Images/at11.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Mitchell_Johnson_(cricketer)">
                <img class="teamImg" src="~/Content/Images/at12.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Moisés_Henriques">
                <img class="teamImg" src="~/Content/Images/at13.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Peter_Handscomb">
                <img class="teamImg" src="~/Content/Images/at14.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Adam_Zampa">
                <img class="teamImg" src="~/Content/Images/at15.jpg" />
            </a>
        </div>
    </section>
</body>
</html>
