
@{
    ViewBag.Title = "Bangladesh";
}


<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body style="background-color:aqua;">
    <div class="container">
        <section class="team">
            <h2>Bangladesh</h2>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Tamim_Iqbal">
                    <img class="teamImg" src="~/Content/Images/bt1.jpg" />

                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Taskin-Ahmed">
                    <img class="teamImg" src="~/Content/Images/bt2.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Soumya_Sarkar">
                    <img class="teamImg" src="~/Content/Images/bt3.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Taijul_Islam">
                    <img class="teamImg" src="~/Content/Images/bt4.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Shakib_Al_Hasan">
                    <img class="teamImg" src="~/Content/Images/bt5.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Mushfiqur_Rahim">
                    <img class="teamImg" src="~/Content/Images/bt6.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Mustafizur_Rahman">
                    <img class="teamImg" src="~/Content/Images/bt7.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Mashrafe_Mortaza">
                    <img class="teamImg" src="~/Content/Images/bt8.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Mahmudullah">
                    <img class="teamImg" src="~/Content/Images/bt9.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Imrul_Kayes">
                    <img class="teamImg" src="~/Content/Images/bt10.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Mominul_Haque">
                    <img class="teamImg" src="~/Content/Images/bt11.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Shuvagata_Hom">
                    <img class="teamImg" src="~/Content/Images/bt12.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Nazmul_Hossain_Shanto">
                    <img class="teamImg" src="~/Content/Images/bt13.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Mohammad_Mithun">
                    <img class="teamImg" src="~/Content/Images/bt14.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Mohammad_Saifuddin">
                    <img class="teamImg" src="~/Content/Images/bt15.jpg" />
                </a>
            </div>
        </section>
    </div>
</body>
</html>
