
@{
    ViewBag.Title = "ContactUs";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel=" stylesheet" href="~/Content/style.css" />
</head>
<body style="background-color:navajowhite;">
    <section style="margin-top:55px;">
        <center>
            <h4>CONTACT US</h4>
            <p>
                +91-81-46795989
            </p>
            <p>
                Amritsar, Punjab, ACET collage of engineering and technology GT road, Manawala, 130021
            </p>
            <p>
                Open your app and chat with us!
            </p>
            <p>
                We are available from 10 A.M. to 10 P.M. on all days. Or at support@CricketBest.com
            </p>
        </center>
    </section>
</body>
</html>

