
@{
    ViewBag.Title = "England";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body style="background-color:aqua;">
    <section class="team">
        <h2>England</h2>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Moeen_Ali">
                <img class="teamImg" src="~/Content/Images/et1.jpg" />z

            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/James_Anderson_(cricketer)">
                <img class="teamImg" src="~/Content/Images/et2.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Jonny_Bairstow">
                <img class="teamImg" src="~/Content/Images/et3.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Sam_Billings">
                <img class="teamImg" src="~/Content/Images/et4.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Jos_Buttler">
                <img class="teamImg" src="~/Content/Images/et5.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Stuart_Broad">
                <img class="teamImg" src="~/Content/Images/et6.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/alastair_cook">
                <img class="teamImg" src="~/Content/Images/et7.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Jake_Ball_(cricketer)">
                <img class="teamImg" src="~/Content/Images/et8.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Steven_Finn_(cricketer)">
                <img class="teamImg" src="~/Content/Images/et9.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/alex_hales">
                <img class="teamImg" src="~/Content/Images/et10.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Liam_Plunkett">
                <img class="teamImg" src="~/Content/Images/et11.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/joe_root">
                <img class="teamImg" src="~/Content/Images/et12.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Chris_Woakes">
                <img class="teamImg" src="~/Content/Images/et13.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Ben_stokes">
                <img class="teamImg" src="~/Content/Images/et14.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Eoin_morgan">
                <img class="teamImg" src="~/Content/Images/et15.jpg" />
            </a>
        </div>
    </section>
</body>
</html>

