
@{
    ViewBag.Title = "India";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body style="background-color:aqua;">
    <div class="container">
        <section class="team">
            <h2>India</h2>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Virat_Kohli">
                    <img class="teamImg" src="~/Content/Images/it20.jpg" />

                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Rohit_Sharma">
                    <img class="teamImg" src="~/Content/Images/it2.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Shikhar_Dhawan">
                    <img class="teamImg" src="~/Content/Images/it3.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Ajinkya_Rahane">
                    <img class="teamImg" src="~/Content/Images/it4.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Yuvraj_Singh">
                    <img class="teamImg" src="~/Content/Images/it5.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Kedar_Jadhav">
                    <img class="teamImg" src="~/Content/Images/it6.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/MS_Dhoni">
                    <img class="teamImg" src="~/Content/Images/it7.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Hardik_Pandya">
                    <img class="teamImg" src="~/Content/Images/it8.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Ravindra_Jadeja">
                    <img class="teamImg" src="~/Content/Images/it9.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Ravichandran_Ashwin">
                    <img class="teamImg" src="~/Content/Images/it10.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Jasprit_Bumrah">
                    <img class="teamImg" src="~/Content/Images/it11.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Umesh_Yadav">
                    <img class="teamImg" src="~/Content/Images/it12.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Bhuvneshwar_Kumar">
                    <img class="teamImg" src="~/Content/Images/it13.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Manish_Pandey">
                    <img class="teamImg" src="~/Content/Images/it14.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Mohammed_Shami">
                    <img class="teamImg" src="~/Content/Images/it15.jpg" />
                </a>
            </div>
        </section>
    </div>
</body>
</html>
