
@{
    ViewBag.Title = "Nz";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body style="background-color:aqua;">
    <div class="container">
        <section class="team">
            <h2>New Zealand</h2>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/corey_Anderson">
                    <img class="teamImg" src="~/Content/Images/nt1.jpg" />

                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Hamish_Bennett">
                    <img class="teamImg" src="~/Content/Images/nt2.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Trent_Boult">
                    <img class="teamImg" src="~/Content/Images/nt3.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Colin_de_Grandhomme">
                    <img class="teamImg" src="~/Content/Images/nt4.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Martin_Guptill">
                    <img class="teamImg" src="~/Content/Images/nt5.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Tom_Latham_(cricketer)">
                    <img class="teamImg" src="~/Content/Images/nt6.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Adam_Milne">
                    <img class="teamImg" src="~/Content/Images/nt7.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Colin_Munro">
                    <img class="teamImg" src="~/Content/Images/nt8.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/James_Neesham">
                    <img class="teamImg" src="~/Content/Images/nt9.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Jeetan_Patel">
                    <img class="teamImg" src="~/Content/Images/nt10.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Luke_Ronchi">
                    <img class="teamImg" src="~/Content/Images/nt11.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Tim_Southee">
                    <img class="teamImg" src="~/Content/Images/nt12.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Ish_Sodhi">
                    <img class="teamImg" src="~/Content/Images/nt13.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Mitchell_Santner">
                    <img class="teamImg" src="~/Content/Images/nt14.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Ross_Taylor">
                    <img class="teamImg" src="~/Content/Images/nt15.jpg" />
                </a>
            </div>
        </section>
    </div>
</body>
</html>


