
@{
    ViewBag.Title = "Pakistan";
}


<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body style="background-color:aqua;">
    <div class="container">
        <section class="team">
            <h2>Pakistan</h2>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Ahmed_Shehzad">
                    <img class="teamImg" src="~/Content/Images/P1.jpg" />

                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Azhar_Ali">
                    <img class="teamImg" src="~/Content/Images/P2.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Fakhar_Zaman_(cricketer)">
                    <img class="teamImg" src="~/Content/Images/P3.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Babar_Azam">
                    <img class="teamImg" src="~/Content/Images/P4.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Junaid_Khan">
                    <img class="teamImg" src="~/Content/Images/P5.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Kamran_Akmal">
                    <img class="teamImg" src="~/Content/Images/P6.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Mohammad_Amir">
                    <img class="teamImg" src="~/Content/Images/P7.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Misbah-ul-haq">
                    <img class="teamImg" src="~/Content/Images/P8.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Mohammad_Hafeez">
                    <img class="teamImg" src="~/Content/Images/P9.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Shadab_Khan">
                    <img class="teamImg" src="~/Content/Images/P10.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Sarfraz_Ahmed">
                    <img class="teamImg" src="~/Content/Images/P11.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Shoaib_Malik">
                    <img class="teamImg" src="~/Content/Images/P12.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Sohail_Khan_(cricketer,_born_1984)">
                    <img class="teamImg" src="~/Content/Images/P13.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Sohail_Tanvir">
                    <img class="teamImg" src="~/Content/Images/P14.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Younis_Khan">
                    <img class="teamImg" src="~/Content/Images/P15.jpg" />
                </a>
            </div>
        </section>
    </div>
</body>
</html>



