
@{
    ViewBag.Title = "Photos";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel=" stylesheet" href="~/Content/style.css" />
    <style>
        div>img{
            height:20px;
        }
    </style>
</head>
<body style="background-color:navajowhite; margin-top:75px;" >
    <div class="container" >
        <div><img src="~/Content/Images/cr1.jpg"  class="img-responsive img-responsive col-lg-4"/>
            <img src="~/Content/Images/cr2.jpg" class="img-responsive img-responsive col-lg-4" />
            <img src="~/Content/Images/cr3.jpg" class="img-responsive img-responsive col-lg-4" />
            <img src="~/Content/Images/cr4.jpg" class="img-responsive img-responsive col-lg-4" />
            <img src="~/Content/Images/cr5.jpg" class="img-responsive img-responsive col-lg-4" />
            <img src="~/Content/Images/cr6.jpg" class="img-responsive img-responsive col-lg-4" />
            <img src="~/Content/Images/cr7.jpg" class="img-responsive img-responsive col-lg-4"  />
            <img src="~/Content/Images/cr8.jpg" class="img-responsive img-responsive col-lg-4" />
            <img src="~/Content/Images/cr9.jpg" class="img-responsive img-responsive col-lg-4" />
        </div>
    </div>
    
</body>
</html>


