
@{
    ViewBag.Title = "Southafrica";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body style="background-color:aqua;">
    <section class="team">
        <h2>South Africa</h2>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Hashim_Amla">
                <img class="teamImg" src="~/Content/Images/st1.jpg" />

            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/JP_Duminy">
                <img class="teamImg" src="~/Content/Images/st2.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Imran_Tahir">
                <img class="teamImg" src="~/Content/Images/st3.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Chris_Morris_(cricketer)">
                <img class="teamImg" src="~/Content/Images/st4.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Kagiso_Rabada">
                <img class="teamImg" src="~/Content/Images/st5.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Wayne_Parnell">
                <img class="teamImg" src="~/Content/Images/st6.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Andile_Phehlukwayo">
                <img class="teamImg" src="~/Content/Images/st7.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/David_Miller_(South_African_cricketer)">
                <img class="teamImg" src="~/Content/Images/st8.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Faf_du_Plessis">
                <img class="teamImg" src="~/Content/Images/st9.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Quinton_de_kock">
                <img class="teamImg" src="~/Content/Images/st10.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/AB_de_Villiers">
                <img class="teamImg" src="~/Content/Images/st11.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Morné_Morkel">
                <img class="teamImg" src="~/Content/Images/st12.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/David_Wiese">
                <img class="teamImg" src="~/Content/Images/st13.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Dale_Steyn">
                <img class="teamImg" src="~/Content/Images/st14.jpg" />
            </a>
        </div>
        <div class="images">
            <a href="https://en.wikipedia.org/wiki/Vernon_Philander">
                <img class="teamImg" src="~/Content/Images/st15.jpg" />
            </a>
        </div>
    </section>
</body>
</html>


