
@{
    ViewBag.Title = "SriLanka";
}


<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body style="background-color:aqua; margin-top:50px;">
    <div class="container">
        <section class="team">
            <h2>Sri Lanka</h2>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Dushmantha_Chameera">
                    <img class="teamImg" src="~/Content/Images/slt1.jpg" />

                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Dinesh_Chandimal">
                    <img class="teamImg" src="~/Content/Images/slt2.png" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Nuwan_Pradeep">
                    <img class="teamImg" src="~/Content/Images/slt3.png" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Niroshan_Dickwella">
                    <img class="teamImg" src="~/Content/Images/slt4.png" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Chaturanga_de_Silva">
                    <img class="teamImg" src="~/Content/Images/slt5.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Lasith_Malinga">
                    <img class="teamImg" src="~/Content/Images/slt6.png" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Dimuth_Karunaratne">
                    <img class="teamImg" src="~/Content/Images/slt7.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Chamara_Kapugedera">
                    <img class="teamImg" src="~/Content/Images/slt8.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Rangana_Herath">
                    <img class="teamImg" src="~/Content/Images/slt9.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Suranga_Lakmal">
                    <img class="teamImg" src="~/Content/Images/slt10.png" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Kusal_Mendis">
                    <img class="teamImg" src="~/Content/Images/slt11.png" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Thisara_Perera">
                    <img class="teamImg" src="~/Content/Images/slt12.png" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Upul_Tharanga">
                    <img class="teamImg" src="~/Content/Images/slt13.png" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Lahiru_Thirimanne">
                    <img class="teamImg" src="~/Content/Images/slt14.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Tillakartne_Dilshan">
                    <img class="teamImg" src="~/Content/Images/slt15.jpg" />
                </a>
            </div>
        </section>
    </div>
</body>
</html>


