
@{
    ViewBag.Title = "Teams";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
   <style>
       img{
          width:30px;
           height:30px;
       }
       center>div{
           width:300px;
           text-align:center;
       }
       center>div:hover{
           background:black;
            
       }
   </style>
</head>
<body style="background-color:aqua;">
    <div class="container" style="margin-top:50px;">
        <section>
            <center>
                <div><a href="~/Player/India">    <h2> <img src="~/Content/Images/1.png">    INDIA </h2></a></div>
                <div><a href="~/Player/Australia"> <h2>     <img src="~/Content/Images/2.png">   AUSTRALIA </h2></a></div>
                <div><a href="~/Player/Southafrica"> <h2> <img src="~/Content/Images/3.png">   SOUTH AFRICA </h2></a></div>
                <div><a href="~/Player/SriLanka"> <h2> <img src="~/Content/Images/4.jpg">   SRI LANKA </h2></a></div>
                <div><a href="~/Player/England"> <h2> <img src="~/Content/Images/5.png">   ENGLAND </h2></a></div>
                <div><a href="~/Player/Nz"> <h2> <img src="~/Content/Images/6.png">   NEW ZEALAND </h2></a></div>
                <div><a href="~/Player/WestIndies"> <h2> <img src="~/Content/Images/7.png">    WEST INDIES </h2></a></div>
                <div><a href="~/Player/Pakistan"> <h2> <img src="~/Content/Images/8.png">   PAKISTAN </h2></a></div>
                <div><a href="~/Player/Afghanistan"> <h2><img src="~/Content/Images/9.png">  AFGHANISTAN</h2></a></div>
                <div><a href="~/Player/Bangladesh"> <h2><img src="~/Content/Images/10.png">  BANGLADESH</h2></a></div>
                <div><a href="~/Player/Zimbabwe"> <h2><img src="~/Content/Images/11.png">  ZIMBAWE</h2></a></div>
            </center>
</section>

    </div>
</body>
</html>

