
@{
    ViewBag.Title = "WestIndies";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body style="background-color:aqua;">
    <div class="container">
        <section class="team">
            <h2>West Indies</h2>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Marlon_Samuels">
                    <img class="teamImg" src="~/Content/Images/W1.jpg" />

                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Samuel_Badree">
                    <img class="teamImg" src="~/Content/Images/W2.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Devendra_Bishoo">
                    <img class="teamImg" src="~/Content/Images/W3.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Carlos_Brathwaite">
                    <img class="teamImg" src="~/Content/Images/W4.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Miguel_Cummins">
                    <img class="teamImg" src="~/Content/Images/W5.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Chris_Gayle">
                    <img class="teamImg" src="~/Content/Images/W6.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Shai_Hope">
                    <img class="teamImg" src="~/Content/Images/W7.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Kieron_Pollard">
                    <img class="teamImg" src="~/Content/Images/W8.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Kemar_Roach">
                    <img class="teamImg" src="~/Content/Images/W9.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Lendl_Simmons">
                    <img class="teamImg" src="~/Content/Images/W10.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Rovman_Powell">
                    <img class="teamImg" src="~/Content/Images/W11.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Ashley_Nurse">
                    <img class="teamImg" src="~/Content/Images/W12.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Kieran_Powell">
                    <img class="teamImg" src="~/Content/Images/W13.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Sunil_Narine">
                    <img class="teamImg" src="~/Content/Images/W14.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Jason_Holder">
                    <img class="teamImg" src="~/Content/Images/W15.jpg" />
                </a>
            </div>
        </section>
        
    </div>
</body>
</html>

