
@{
    ViewBag.Title = "Zimbabwe";
}


<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body style="background-color:aqua;">
    <div class="container">
        <section class="team">
            <h2>Zimbabwe</h2>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Rayn_Burl">
                    <img class="teamImg" src="~/Content/Images/zt1.jpg" />

                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Regis_Chakabva">
                    <img class="teamImg" src="~/Content/Images/zt2.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Brian_Chari">
                    <img class="teamImg" src="~/Content/Images/zt3.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/Tendai_Chitara">
                    <img class="teamImg" src="~/Content/Images/zt4.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/zt5.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/zt6.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/zt7.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/zt8.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/zt9.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/zt10.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/zt11.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/zt12.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/zt13.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/zt14.jpg" />
                </a>
            </div>
            <div class="images">
                <a href="https://en.wikipedia.org/wiki/">
                    <img class="teamImg" src="~/Content/Images/zt15.jpg" />
                </a>
            </div>
        </section>
    </div>
</body>
</html>


